<%= form_for(radiology) do |f| %>
  <% if radiology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(radiology.errors.count, "error") %> prohibited this radiology from being saved:</h2>

      <ul>
      <% radiology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :viewer %>
    <%= f.text_area :viewer %>
  </div>

  <div class="field">
    <%= f.label :entry %>
    <%= f.text_area :entry %>
  </div>

  <div class="field">
    <%= f.label :patient_id %>
    <%= f.text_field :patient_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
