<p id="notice"><%= notice %></p>

<h1>Radiologies</h1>

<table>
  <thead>
    <tr>
      <th>Viewer</th>
      <th>Entry</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @radiologies.each do |radiology| %>
      <tr>
        <td><%= radiology.viewer %></td>
        <td><%= radiology.entry %></td>
        <td><%= radiology.patient %></td>
        <td><%= link_to 'Show', radiology %></td>
        <td><%= link_to 'Edit', edit_radiology_path(radiology) %></td>
        <td><%= link_to 'Destroy', radiology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Radiology', new_radiology_path %>
