<p id="notice"><%= notice %></p>

<p>
  <strong>Viewer:</strong>
  <%= @lab.viewer %>
</p>

<p>
  <strong>Item:</strong>
  <%= @lab.item %>
</p>

<p>
  <strong>Value:</strong>
  <%= @lab.value %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @lab.timestamp %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @lab.entry %>
</p>

<p>
  <strong>Item:</strong>
  <%= @lab.item %>
</p>

<p>
  <strong>Value:</strong>
  <%= @lab.value %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @lab.timestamp %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @lab.patient %>
</p>

<%= link_to 'Edit', edit_lab_path(@lab) %> |
<%= link_to 'Back', labs_path %>
